body{
    background-color: #1a70c0b4;
    color: white;
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    padding: 80px 60px;
    justify-content: space-between;
    align-items: center;

    div.logo{
        p{
            font-size: 25px;
            font-weight: bold;
        }
    }

    div.pages{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 47px;

        a{
            color: white;
            text-decoration: none;
        }

        a:hover{
            transform: scale(2);
            transition: ease-in-out 1.5s;
        }
    }
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: auto 30px 74px 74px;

    div.text{
        position: absolute; 
        font-family:'Times New Roman', Times, serif;
        display: flex;
        flex-direction: column;
        gap: 35px;
        justify-content:space-evenly;

        p.Lorem{
            font-weight: 500;
            letter-spacing: 5px;
            word-spacing: 15px;
            max-width: 50%;
        }
        p.intro{
            letter-spacing: 10px;
            word-spacing: 15px;
            position: relative;
            font-size: 130px;
        }
        a{
            color: white;
            text-decoration: none;
            background-color: #2D4358;
            padding: 19px 29px;
            border-radius: 33px;
            display: block;
            width: max-content;
        }

        a:hover{
            background-color: white;
            color: #2D4358;
        }
    }
    div.img{
        position: relative;
        z-index: -1;
        right: -28vw;
        margin-top: 50px;
    }
}